<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD EJS</title>
</head>
<body>

 <h1>ADD FORM DETAIL</h1>

    <form action="/add" method="post">

      <label for="name">NAME</label>
      <input type="text" name="name" placeholder="enter your name" required>

      <button type="submit">add</button>

    </form>
</body>
</html>