<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS CRUDE</title>
</head>
<body>
    <a href="/add"> add student</a> // create href link to access app.js file


     <!-- EJS expression <% ...... %> -->

     <!-- Ejs show output <%= ...... %> -->

   <ul>
     
    // this data is access in app.js --- app.get("/add") 

    <%studentList.forEach((s)=>{ %> 
       <li><%= s.name %></li>   // use show output ejs syntax
   <%});%>
   </ul>

</body>
</html>